@font-face {
    font-family: "inter";
    src: url("../font/Inter/Inter-Regular.ttf");
    font-weight: normal;
}
  @font-face {
    font-family: "inter";
    src: url("../font/Inter/Inter-Bold.ttf");
    font-weight: bold;
}
/*code général*/
html {
    scroll-behavior: smooth;
}

body,html{
    padding: 0;
    margin: 0;
    font-family: "inter";
}
h1{
    font-weight: bold;
    color: #5b0000;
}
h2{
    margin-left: 20px;
    color: #5b0000;
}
h3{
    color: #5b0000;
}
header,nav{
    width: 100%;
}
nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 50px;
    z-index: 1;
}
nav ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    
}
nav ul li{
    display: flex;
    margin: 15px 30px;
    justify-content: space-between;
}
a{
    text-decoration: none;
    border-radius: 5px;
}

nav a{

    color: #5b0000;
}
nav a:hover{
    font-weight: bold;
}
video{
    width: 100%;
    height: auto;

}
.pres-produit{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-around;
}
#produit{
    width: 100%;
}
.pres{
    width: 40%;
    
}
h3{
    margin-bottom: 10px;
}
.ctapartage{
    float: right;
    background-color: #5b0000;
    border: #111111 1px solid;
    padding: 5px;
    color: #ffffff;
}
.ctachat{
    background-color: #5b0000;
    border: #111111 1px solid;
    padding: 5px;
    color: #ffffff;
}
.ctacommande{
    background-color: #5b0000;
    border: #111111 1px solid;
    padding: 5px;
    color: #ffffff;
}
nav img{
    position: absolute;
    top: -20px;
    width: 20%;
}
.hero a{
    position: absolute;
    bottom: 10%; left: 50%;  /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    z-index: 1;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 21px; 
}
.hero{
    position: relative;
}
/*Jauge*/
:root {
    --progress: #e17055;
}

.progressbar-wrapper {
    background-color: #dfe6e9;
    color: white;
    border-radius: 15px;
    width: 50%;
    
}

.progressbar {
    background-color: var(--progress);
    color: white;
    padding: 1rem;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}
  
.progressbar[title="downloading"] {
     background-color: var(--progress);
}
  

.jauge{
    
    position: relative;
    margin: 120px ;
}

/*Achat*/
.payment{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 120px;
}
.contenu{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.precommander{
    display: flex;
    justify-content: center;
}
.payment .cadeaux img{
    width: 50%;
    border-radius: 20px;
    margin: 20px 0;
}
.txtcadeaux p {
    margin-top: 100px;
    
}
/*Avis*/
.avis{
    margin:120px 20px;
}
.aviscont{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.test{
    justify-content: center;
    display: flex;
    
}

.avis p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 20px;

}
/*remerciement*/
.remerciement{
    display: flex;
    justify-content: center;
}
.merci{
    display: flex;
    justify-content: center;
}
.Pseudo{
    margin-top: 5px;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100vh;
    height: 60px;
    
}
/* Texte défilant */
.Pseudo div {
    position: absolute;
    min-width: 100%; /* au minimum la largeur du conteneur */
  }
   
  .Pseudo div span, 
  .Pseudo div:after {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    top:0;
  }
   
  .Pseudo div span {
    animation: defilement 10s infinite linear;
  }
   
  .Pseudo div:after {
    position: absolute;
    top:0; left:0;
    content:attr(data-text);
    animation: defilement2 10s infinite linear;
  }
   
  @keyframes defilement {
    0% { margin-left: 0; }
    100% { margin-left: -100%; }
  }
   
  @keyframes defilement2 {
    0% { margin-left: 100%; }
    100% { margin-left: 0%; }
  }
/*rdv*/
.demande{
    display: flex;
    justify-content: center;
}

.groupe{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    border: #ffffff 4px solid;
    border-radius: 10px;
    background-color: #e17055;
    color: aliceblue;
    width: 400px;
}
.button{
    margin: 20px;
}
 .button :hover{
    background-color: #5b0000;
    border-radius: 4px;
    border: none;
    color: aliceblue;
}
.question{
    margin: 20px;
    
}
/*questions frequente*/
.questions{
    margin-top: 120px;
    margin-left: 20px;
}
/*contacte*/
.contact{
    margin-top: 120px;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;
}
.reseauxun{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    justify-content: center;
}
.reseauxdeux{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
}
.picto{
    margin-right: 20px;
    width: 5%;
}
.titre{
    justify-content: center;
    display: flex;
}
/*Slider news*/
.News{
    margin-top: 120px;
}
.custom-slider { display: none; }
.slide-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    border: solid 1px #5b0000;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}
.slide-text {
    position: absolute;
    color: #5b0000;
    font-weight:bold ;
    font-size: 15px;
    padding: 15px;
    bottom: 15px;
    width: 100%;
    text-align: center;
}
.slide-index {
    color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
}
.slide-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.slide-dot{ text-align: center; }
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover { background-color: #111111; }
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
/*Partenaires*/
#part{
    margin: 50px 20px;
    width: 10%;
    height: 10%;
}
.partenaires{
    margin-top: 120px;
}
.partenaire{
    margin: 0 auto;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
/*Footer*/
.foot{
    background-color: transparent; 
}
.containerdeux{
    display: flex;
    justify-content:center;
    margin-top: 300px;
    
}
.containertrois{
    display: flex;
    justify-content:center;
    margin-top: 0px;
    
}
.infodeux{
    display: flex;
    font-size: 10px;
    text-decoration: none;
    color: #979494 ;
    flex-direction: row;
    margin-left: 50px;
}
.icons{
    width: 50px;
    flex-direction: row;
    margin: 0 20px;
}
#menudeux{
    list-style-type: none; /* pour retirer les puces */
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: 10px;
    flex: 1;
    display: flex;
}
#menudeux li {
    flex: 1;
    display: flex;
    flex-direction: row;
}
#menudeux li a {
    color: #e17055;
    padding: 0 15px;  
    text-decoration: none;/* enlever le soulignement et le bleu du liens */
    flex: 1;
    display: flex;
    white-space:nowrap;
    flex-direction: row;
}
.reseaux{
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.joindre{
    flex-direction: row;
    text-decoration: overline !important;
    text-decoration-color: #e17055 !important;
    text-decoration-style: solid;
    justify-content: center;
    display: flex;
    margin-bottom: 0;
    margin-top: 20px;
}